.container {
  width: 450px;
  margin: auto;
  margin-top: 30px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}

.container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
}

.container h2 {
  font-size: 23px;
  font-weight: 500;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: border-width .2s ease;
}

.container ul li:hover {
  border-width: 2px ;
}

.container button {
  margin: auto;
  width: 200px;
  height: 55px;
  background: #553f9a;
  color: white;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity .3s ease;
}

.container button:hover {
  opacity: .7;
}

.container .index {
  margin: auto;
  font-size: 15px;
}

.container .correct {
  background: #dffff2;
  border-color: #00d397;
}

.container .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}
